/* Son los mensajes de error*/

.error {
    color: red;
    text-align: center;
    align-items: center;
}

form {
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
}

table,
td {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
}

h1 {
    text-align: center;
}


/* boton de la pagina principal */

.BotonInicio {
    width: auto;
    height: 50px;
}


/* Boton de agregar pcs en la tabla de pcs */

.botonAnexar {
    position: absolute;
    left: 1000px;
}


/* Pertenece a la pagina principal*/

.ConteinerInicio {
    text-align: center;
}

.Filtros {
    text-align: center;
}


/* Paginar */

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 110;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}


/*       CONTENIDO DESPLEGABLE         */

header {
    font-family: Helvetica;
    width: 480px;
    position: absolute;
}

ul {
    list-style: none;
}

#menu li>a {
    background-color: grey;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px;
}

#menu li>a:hover {
    color: #000;
    background-color: #eaeaea;
}

#menu>li {
    float: left;
    text-align: center
}

#menu>li>ul {
    display: none;
}

#menu>li:hover>ul {
    display: block;
}