.error {
    color: red;
    text-align: center;
    align-items: center;
}

form {
    text-align: center;
    align-items: center;
}

img {
    width: 100px;
    height: 100px;
}

table,
td {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
}

.ver_usuario {
    float: left;
}